.wrap {
    font-family: 'Noto Serif TC', serif;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(140deg, rgba(43, 88, 118, 1), rgba(78, 67, 118, 1)) no-repeat;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin: 100%;
    height: auto;
}
h4 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 40px;
}
.btn-outline-white {
    width: 255px;
    border: 3px solid #fff;
    border-radius: 16px;
    color: #fff;
    font-size: 24px;
    padding: 16px 0;
    margin-bottom: 24px;
    transition: all .5s;

    &:hover,
    &.active {
        border: 3px solid #fff;
        background: #fff;
        color: rgba(78, 67, 118, 1);
    }
}

.mr-40 {
    margin-right: 40px;
}

.show {
    display: block;
}

.none {
    display: none;
}
.barScroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  
    &::-webkit-scrollbar {
      width: 7px;
    }
  
    &::-webkit-scrollbar-button {
      background: transparent;
      border-radius: 4px;
    }
  
    &::-webkit-scrollbar-track-piece {
      background: rgba(217, 217, 217, 1);
      border-radius: 20px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 16px;
      background-color: rgba(78, 67, 118, 1);
      position: relative;
    }
  
    &::-webkit-scrollbar-track {
      box-shadow: transparent;
    }
  }
@media(max-width: 768px) {

}

@media(max-width: 767px) {
    .moblie-none {
        display: none;
    }
    .btn-outline-white {
        border: 1px solid #fff;
        font-size: 16px;
        padding: 16px 0;
        margin-bottom: 16px;
        &:hover,
        &.active {
            border: 1px solid #fff;
        }
    }
}